<ul id="page_links">

  <li>
    {% if page.page_name == 'index' %}
      <span class="current_page">CarettaBMS</span>
    {% else %}
      <a href="/" title="CarettaBMS">CarettaBMS</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'userManual' %}
      <span class="current_page">User manual</span>
    {% else %}
      <a href="/userManual.html" title="User manual">User manual</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'moduleCalib' %}
      <span class="current_page">Module calibration</span>
    {% else %}
      <a href="/moduleCalib.html" title="Module calibration">Module calibration</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'firmwareUpdate' %}
      <span class="current_page">Firmware update</span>
    {% else %}
      <a href="/firmwareUpdate.html" title="Firmware update">Firmware update</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'devGuide' %}
      <span class="current_page">Dev. guide</span>
    {% else %}
      <a href="/devGuide.html" title="Dev. guide">Dev. guide</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'expansions' %}
      <span class="current_page">Expansions</span>
    {% else %}
      <a href="/expansions.html" title="Expansions">Expansions</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'cellVoltageMeasurement' %}
      <span class="current_page">Voltage measurement</span>
    {% else %}
      <a href="/cellVoltageMeasurement.html" title="Voltage measurement">Voltage measurement</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'UARTcom' %}
      <span class="current_page">UART</span>
    {% else %}
      <a href="/UARTcom.html" title="UART">UART</a>
    {% endif %}
  </li>

  <li>
    {% if page.page_name == 'msg' %}
      <span class="current_page">UART frame</span>
    {% else %}
      <a href="/msg.html" title="UART frame">UART frame</a>
    {% endif %}
  </li>

</ul>
